extends base.pug
block content
  div.container
    h1.my-4 обо мне
    div.row
      div.col-sm-12
        div.card.h-100
          div.card-body
            h4.card-title
              a моя фотка
            img(width="30%" height="" src="img/%D0%B0%D0%B2%D0%B0%D0%BA%D1%80%D1%83%D0%B3.png")
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a факты
            ul
              li родился в 2005
              li живу в России
              li родной язык - русский
              li знаю айнглийский и немейкий
              li люблю фотографигоровать
              li хочу в Чехию
              li готов учиться
              li пишу сайты
              li учу python
              li обожаю кофе
              li готовлюсь поступать на специалиста по иб
            br
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a скиллы
            ul
              li JS (не очень хорошо)
              li HTML 5, CSS 3 (~junior)
              li Bootstrap 3 (и 4)
              li редачу чужой код
              li LESS, SASS
              li PUG
              li Python 3 (заканчиваю Яндекс Лицей)
              li Adobe Illustrator 
              li Adobe Photoshop 
              li Adobe Premiere Pro
              li Администрирование Linux серверов
