extends base.pug
block content
  div.container
    h1.my-4 обо мне
    div.row
      div.col-sm-12
        div.card.h-100
          div.card-body
            h4.card-title
            img(width="30%" height="" src="img/%D0%B0%D0%B2%D0%B0%D0%BA%D1%80%D1%83%D0%B3.png")
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a факты
            p мне 18 лет, живу в петербурге. Обучаюсь в СПБГУТ. Увлекаюсь компьютерами, серверами, их настройкой и ремонтом. участвую в CTF, люблю белый хакинг.
            br
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a навыки
            ul.no-points
              li JS + HTML + CSS + PUG
              li Python, bash
              li могу разобраться в чужом коде
              li пакет adobe (Illustrator + photoshop)
              li настройка и поддержание работоспособности серверов с linux