extends base.pug
block content
  div.container
    h1.my-4 about me
    div.row
      div.col-sm-12
        div.card.h-100
          div.card-body
            h4.card-title
              a my photo
            img(width="30%" height="" src="img/%D0%B0%D0%B2%D0%B0%D0%BA%D1%80%D1%83%D0%B3.png")
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a facts about me
            ul
              li i'm 15 years old
              li living in yarsolavl, russia
              li studying in gymnasium 3 in yaroslawl
              li mother tongue is russian
              li know english good
              li know deutch, but not good
              li want to study Czech
              li want to go work abroad
              li ready for studying
              li writing sites using CSS, JS, HTML
              li can edit and understand another's code
              li Big love to coffee
            br
      div.col-sm-6
        div.card.h-100
          div.card-body
            h4.card-title
              a my skills
            ul
              li JS (just studying)
              li HTML 5, CSS 3 (~junior)
              li Bootstrap 3 (and 4)
              li another's code editing
