extends base.pug
block content
  div.container
  +clients('avianik', 'clients/avianik/img/main.jpg', 'clients/avianik/img/1.jpg', 'clients/avianik/img/2.jpg', 'website for ticket office, which is located in Russia, in Yaroslavl', 'visit repo')