extends base.pug
block content
  div.container
    h1.my-4 career
    div.row
        div.col-sm-2
            br
        div.col-sm-10
            div.card.h-100
                div.left.card-body
                    h3 2019-now | solo sites creation
