extends base.pug
block content
  div.container
    h1.my-4 contact me
    div.row
        div.col-sm-12
            div.card.h-100
                div.card-body
                    img(width="30%" height="" src="img/%D0%B0%D0%B2%D0%B0%D0%BA%D1%80%D1%83%D0%B3.png")
        div.col-sm-6
          div.card.h-100
              div.card-body
                div.btn.btn-undefault(type="button")
                  a.un.wh.nav-link.active(href="mailto:mihailovily@gmail.com")
                    <i class="far fa-envelope-open"></i> mihailovily@gmail.com
                    br
                br
                br
                div.btn.btn-undefault(type="button")
                  a.un.wh.nav-link.active(href="https://github.com/Mihailovily")
                  <i class="fab fa-github"></i> @Mihailovily
                  br
                br
        div.col-sm-6
          div.card.h-100
              div.card-body
                div.btn.btn-undefault(type="button")
                  a.un.wh.nav-link.active(href="https://vk.com/mihailovily")
                    <i class="fab fa-vk"></i> vk.com/mihailovily
                    br
                br
                br
                div.btn.btn-undefault(type="button")
                  a.un.wh.nav-link.active(href="https://instagram.com/mihailovily")
                    <i class="fab fa-instagram"></i> @mihailovily
                    br
                br
