footer.footer.py-8
      .container.mx-auto.px-4
        .flex(class="flex-col md:flex-row justify-between items-center")
          .mb-4(class="md:mb-0")
            p.text-gray-400.text-sm mihailovily@life:~#
          div
            p.text-gray-400.text-sm © 2005 - now