meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title mihailovily | DevSecOps
meta(name="Description" content="Привет! Меня зовут Михайлов Илья и я начинающий фронтенд-разработчик")
meta(name="author" content="mihailovily")
meta(name="Keywords" content="Михайлов Илья Программист Python DevSecOps mihailovily Mihailov Ilya Ilia Mikhailov")
link(rel="shortcut icon" type="image/x-icon" href="https://mihailovily.github.io/favicon.ico")
script(src="https://cdn.tailwindcss.com")
link(rel="stylesheet" href="css/style.css")
