meta(charset="utf-8")
meta(name="Description" content="Привет! Меня зовут Михайлов Илья и я начинающий фронтенд-разработчик")
meta(name="author" content="mihailovily")
meta(name="Keywords" content="Михайлов Илья Программист Сайты Разработчик mihailovily Mihailov Ilya Ilia Mikhailov")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
title mihailovily
link(rel="shortcut icon" type="image/x-icon" href="https://mihailovily.github.io/favicon.ico")
link(rel="stylesheet" href="https://mihailovily.github.io/css/style.css")
script(src="https://mihailovily.github.io/js/script.js")
script(src="https://kit.fontawesome.com/de2cbae981.js" crossorigin="anonymous")
link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet")