extends base.pug
block content
  div.container
    h1.my-4 projects
    br
    div.row
      +card("https://github.com/Mihailovily/ETI-lost-in-subterranean", "ETI:lost in subterranean", "a js-based browser rogue-like game", "clients/elis/img/1.jpg", "clients/elis/elis.html")
      +card("https://avia76.ru", "avianik", "website for ticket office", "clients/avianik/img/main.jpg", "clients/avianik/avianik.html")
      +card("https://github.com/Mihailovily/sedona", "sedona", "demo website for the american state sedona", "clients/sedona/img/main.jpg", "clients/sedona/sedona.html")
