extends base.pug
block content
  div.container
    h1.my-4 проекты
    br
    div.row
      +card("clients/nft/nft.html", "suprematism", "nft", "clients/nft/img/main.jpg", "clients/nft/nft.html")
      +card("clients/tori/tori.html", "tori", "логотип для музыкального коллектива", "clients/tori/img/1.jpg", "clients/tori/tori.html")
      +card("clients/nothing.html", "nothing", "nothing", "clients/nothing/img/1.jpg", "clients/nothing/nothing.html")
      +card("https://github.com/Mihailovily/ETI-lost-in-subterranean", "ETI:lost in subterranean", "игра-рогалик на js", "clients/elis/img/1.jpg", "elis.html")
      +card("https://avia76.ru", "avianik", "сайт для авиакассы", "clients/avianik/img/main.jpg", "clients/avianik/avianik.html")
      +card("https://github.com/Mihailovily/sedona", "sedona", "демо-сайт для американского штата", "clients/sedona/img/main.jpg", "clients/sedona/sedona.html")
      
