h1.my-4 avianik
div.row
    div.col-md-8
        img(src="clients/avianik/img/main.jpg" width="100%")
    div.col-md-4
        h3.my-3 Description
        p website for ticket office, which is located in Russia, in Yaroslavl
        div.btn btn-default(type="button")
            a.un.wh(href="https://avia76.ru") visit site
h3.my-4 other screenshots
div.row
    div.col-md-6
        a(href="#")
            img(src="../avianik/img/1.jpg" width="100%")
    div.col-md-6
        a(href="#")
            img(src="../avianik/img/2.jpg" width="100%")
