nav
  div.mobile.container
    div.col-sm-4
      a#burger
        img#burger.otstup(width="48px" height="48px" src="img/logo.jpg")
        img#burger.pad.otstup(width="24px" height="24px" src="https://img.icons8.com/ios-filled/50/000000/menu.png")
    div(style="display:none" class="menu row ctr")
      div.otstuptwo.col-sm-2
        a(href="index.html") projects
      div.otstuptwo.col-sm-2
        a(href="career.html") career
      div.otstuptwo.col-sm-2
        a(href="about.html") about me
      div.otstuptwo.col-sm-2
        a(href="contact.html") contact
nav
  div.desktop.container
    div.row.ctr
      div.otstuptwo.col-sm-2
        a(href="index.html") projects
      div.otstuptwo.col-sm-2
        a(href="career.html") career
      div.otstuptwo.col-sm-4
        a(href="index.html")
          img#burger.otstup(width="48px" height="48px" src="img/logo.jpg")
      div.otstuptwo.col-sm-2
        a(href="about.html") about me
      div.otstuptwo.col-sm-2
        a(href="contact.html") contact
