extends ../../base.pug
block content
  div.container
  +clients('ETI:lost in subterranean (elis)', 'img/1.jpg', 'img/2.jpg', 'img/3.jpg', 'игра-рогалик на js', 'смотреть код', 'https://github.com/Mihailovily/ETI-lost-in-subterranean')