extends ../../base.pug
block content
  div.container
  +clients('avianik', 'img/main.jpg', 'img/1.jpg', 'img/2.jpg', 'вебсайт для авикассы в центре Ярославля. первая версия', 'смотреть сайт', 'https://avia76.ru')