extends base.pug
block content
  div.container
  +clients('avianik', 'clients/avianik/img/main.jpg', 'clients/avianik/img/1.jpg', 'clients/avianik/img/2.jpg', 'вебсайт для авикассы в центре Ярославля', 'смотреть код', 'https://avia76.ru')