extends base.pug
block content
  div.container
  +clients('sedona', 'clients/sedona/img/main.jpg', 'clients/sedona/img/1.jpg', 'clients/sedona/img/2.jpg', 'псевдо-вебсайт для штата Седона', 'смотреть код', 'https://github.com/Mihailovily/sedona')