extends ../../base.pug
block content
  div.container
  +clients('sedona', 'img/main.jpg', 'img/1.jpg', 'img/2.jpg', 'псевдо-вебсайт для штата Седона', 'смотреть код', 'https://github.com/Mihailovily/sedona')