extends ../../base.pug
block content
  div.container
  +clients('tori', 'img/1.jpg', 'img/2.jpg', 'img/3.jpg', 'три варианта логотипа для музыкального коллектива', 'послушать музыку', 'https://vk.com/music?z=audio_playlist-2000814388_7814388/a1eed2b623dcc58b4c')